.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: 0 4px 2px -2px rgb(221, 221, 221);
	height: 60px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	box-sizing: border-box;
}

.header-content .column {
	display: flex;
	align-items: center;
}

.header-content .logo {
	flex: 1;
}

.header-content .menu {
	flex: 2;
	justify-content: center;
	display: flex;
}

.header-content .user-options {
	flex: 1;
	justify-content: flex-end;
	display: flex;
}
